/*cabeçalho*/

/*Top bar*/

#topbar {
  background-color: black;
}

.nav-icon {
  margin-left: 20px;
  fill: #D2E2EB;
  width: 20px;
  height: 20px;
}

/* navbar */

#secondary-bar {
  background-color: #D2E2EB;
}

.nav-link {
  margin-left: 10px;
  margin-right: 10px;
  padding: 5px;
  background-color: white;
}

/*Conteudo principal*/


/*banner*/

#section-banners {
  height: 500px;
}

/*Produtos vendidos*/

#section-vendidos {
  text-align: center;
}

#section-vendidos .card {
  border: 2px solid red;

}

/*Rodapé*/
footer {
  text-align: center;
}

footer p {
  font-weight: bolder;
  padding: 20px;

}

/*Botão Voltar topo*/

/* página de login  */


/* Formulário de cadastro*/